
.player-section__container {
  columns: 2;
//   flex-direction: column;
//   width: 407px;
// columns: 2;
}
.player-section__title{

font-size: 38px;
font-style: normal;
font-weight: 900;
line-height: 100%; /* 48px */
letter-spacing: -0.96px;
margin-bottom: 48px;
}
// .player-section__title {
// width: 407px;

// }
.player-section__img{
  width: 542px;
}
.first{
  position: relative;
  top: -17px;
  display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
}
.second{
  position: relative;
  top: -150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

