
.player-section__container {
  columns: 2;
//   flex-direction: column;
//   width: 407px;
// columns: 2;
}
.player-section__title{

font-size: rem(38px);
font-style: normal;
font-weight: 900;
line-height: 100%; /* 48px */
letter-spacing: rem(-0.96px);
margin-bottom: rem(24px);
}
// .player-section__title {
// width: 407px;

// }
.player-section__img{
  width: rem(542px);
}
.first{
  position: relative;
  top: rem(88px);
  display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
}
.second{
  position: relative;
  top: rem(-98px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.player__button{
margin-top: rem(20px);

}

